In [ ]:
!pip install requests pandas

# get json data

In [37]:
import pandas as pd
import requests

# Make an HTTP GET request to retrieve the JSON data
url = "https://huze-management.et.r.appspot.com/v1/dogs"
response = requests.get(url)
data = response.json()

# Extract the required fields from the JSON data
dogs = data["data"]["dogs"]
records = []

for dog in dogs:
    record = {
        "id": dog["id"],
        "adaptability": dog["characteristics"].get("adaptability"),
        "friendliness": dog["characteristics"].get("friendliness"),
        "hngneeds": dog["characteristics"].get("hngneeds"),
        "trainability": dog["characteristics"].get("trainability"),
        "exercise": dog["characteristics"].get("exercise"),
    }
    records.append(record)

# Convert the extracted data into a pandas DataFrame
df_dogs = pd.DataFrame(records)

# Print the resulting DataFrame
df_dogs.head(10)

,id,adaptability,friendliness,hngneeds,trainability,exercise
0,chihuahua,3,4,2,3,3
1,samoyed,3,5,3,4,4
2,beagle,3,5,3,4,5
3,basset_hound,3,5,4,4,2
4,pug,3,4,3,2,4
5,pomeranian,3,3,3,3,3
6,boxer,3,4,3,3,5
7,english_cocker_spaniel,3,5,4,4,2
8,japanese_chin,3,3,2,3,2
9,newfoundland,3,5,4,4,3

In [38]:
import pandas as pd
import requests

# Make an HTTP GET request to retrieve the JSON data
url = "https://huze-management.et.r.appspot.com/v1/cats"
response = requests.get(url)
data = response.json()

# Extract the required fields from the JSON data
cats = data["data"]["cats"]
records = []

for cat in cats:
    record = {
        "id": cat["id"],
        "affectionate": cat["characteristics"].get("affectionate"),
        "health": cat["characteristics"].get("health"),
        "playfulness": cat["characteristics"].get("playfulness"),
        "kid_friendly": cat["characteristics"].get("kid_friendly"),
        "strangers_friendly": cat["characteristics"].get("strangers_friendly"),
        "pet_friendly": cat["characteristics"].get("pet_friendly"),
        "groom": cat["characteristics"].get("groom"),
        "intelligence": cat["characteristics"].get("intelligence"),
    }
    records.append(record)

# Convert the extracted data into a pandas DataFrame
df_cats = pd.DataFrame(records)

# Print the resulting DataFrame
df_cats.head(10)

,id,affectionate,health,playfulness,kid_friendly,strangers_friendly,pet_friendly,groom,intelligence
0,ragdoll,5,3,4,5,0,4,1,4
1,american_shorthair,3,4,2,4,4,3,4,4
2,bengal,5,3,5,5,3,5,4,5
3,british_shorthair,3,4,2,4,4,5,4,3
4,maine_coon,3,3,4,5,2,5,4,4
5,persian,3,2,2,2,2,2,2,3
6,russian_blue,4,4,2,3,2,4,2,4
7,scottish_fold,5,3,3,5,3,4,2,4
8,siamese,5,3,4,4,0,4,4,5
9,sphynx,5,2,4,5,5,5,2,4

# CATTO

In [39]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

df = df_cats 

df['id'] = df['id'].astype(str)

tfidf_vectorizer = TfidfVectorizer()

tfidf_matrix = tfidf_vectorizer.fit_transform(df['id'])

cosine_similarity_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)

user_selection = ['british_shorthair']  
user_selection_indices = [df.index[df['id'] == name].tolist()[0] for name in user_selection]

top_similar_cats = set()

for index in user_selection_indices:
    similarity_scores = list(enumerate(cosine_similarity_matrix[index]))

    sorted_cats = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    similar_cats = [df.iloc[index]['id'] for index, score in sorted_cats[1:6]]

    top_similar_cats.update(similar_cats)

print(list(top_similar_cats))

['ragdoll', 'bengal', 'american_shorthair', 'maine_coon', 'persian']

In [40]:
df_cats.head(10)

,id,affectionate,health,playfulness,kid_friendly,strangers_friendly,pet_friendly,groom,intelligence
0,ragdoll,5,3,4,5,0,4,1,4
1,american_shorthair,3,4,2,4,4,3,4,4
2,bengal,5,3,5,5,3,5,4,5
3,british_shorthair,3,4,2,4,4,5,4,3
4,maine_coon,3,3,4,5,2,5,4,4
5,persian,3,2,2,2,2,2,2,3
6,russian_blue,4,4,2,3,2,4,2,4
7,scottish_fold,5,3,3,5,3,4,2,4
8,siamese,5,3,4,4,0,4,4,5
9,sphynx,5,2,4,5,5,5,2,4

# DOGGYS

In [41]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# Load the dataframe
df = df_dogs  # Replace 'your_dataframe.csv' with the actual file name

# Convert the 'id' column to string type
df['id'] = df['id'].astype(str)

# Initialize the TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Compute the TF-IDF matrix
tfidf_matrix = tfidf_vectorizer.fit_transform(df['id'])

# Compute the cosine similarity matrix
cosine_similarity_matrix = linear_kernel(tfidf_matrix, tfidf_matrix)

# Get the dog names selected by the user
user_selection = ['chihuahua']  # Replace ['pug', 'samoyed', 'beagle'] with the user's selected dog names

# Get the indices of the selected dogs
user_selection_indices = [df.index[df['id'] == name].tolist()[0] for name in user_selection]

# Initialize a set to store the top similar dogs
top_similar_dogs = set()

# Iterate over each selected dog
for index in user_selection_indices:
    # Get the pairwise similarity scores of the selected dog with all other dogs
    similarity_scores = list(enumerate(cosine_similarity_matrix[index]))

    # Sort the dogs based on the similarity scores
    sorted_dogs = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    # Get the top 5 similar dogs (excluding the selected dog itself)
    similar_dogs = [df.iloc[index]['id'] for index, score in sorted_dogs[1:6]]

    # Add the top similar dogs to the set
    top_similar_dogs.update(similar_dogs)

# Print the top similar dogs
print(list(top_similar_dogs))

['basset_hound', 'samoyed', 'pug', 'beagle', 'pomeranian']

In [42]:
df_dogs.head(10)

,id,adaptability,friendliness,hngneeds,trainability,exercise
0,chihuahua,3,4,2,3,3
1,samoyed,3,5,3,4,4
2,beagle,3,5,3,4,5
3,basset_hound,3,5,4,4,2
4,pug,3,4,3,2,4
5,pomeranian,3,3,3,3,3
6,boxer,3,4,3,3,5
7,english_cocker_spaniel,3,5,4,4,2
8,japanese_chin,3,3,2,3,2
9,newfoundland,3,5,4,4,3